@{
    ViewBag.Title = "Pagina de Inicio";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<div class="mainContainer">
    <div class="card">
        <div class="card2">
            <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="perfil2" class="perfil">
            <p class="perfil-texto">
                Nombre: Julian Antonio Emiliano Sanchez
            </p>
            <p class="perfil-texto">
                Matricula: 2021-1887
            </p>

        </div>
    </div>
    
</div>